/*======================================================
                          Imports
  ======================================================*/
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

/*======================================================
                          Gobal
  ======================================================*/
:root {
  --text-color: #FFF;
  --main-color: #FF9292;
  --error-color: #d93025;
  --pear-can: #e6ffde;
  --pear-logo: #03403f;
  --apple-can: #f2675a;
  --apple-logo: #ec4458;
  --exotic-can: #9590f1;
  --black-color: #000000;
  --white-color: #ffffff;
  --exotic-logo: #6464ff;
  --pear-background: #c9e78a;
  --apple-background: #ffb2b2;
  --exotic-background: #c1bff2;

	--icolor1: #c4e85a;
	--icolor2: #ffb370;
	--icolor3: #d65ae8;
	--icolor4: #63c8ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Lexend', sans-serif;
}

body {
  overflow-x: hidden;
}

strong {
  font-weight: normal;
  font-style: normal;
}

.heading {
  text-align: center;
  font-size: 4.5rem;
  color: var(--text-color);
}

/* Typography */
h1 {
  font-family: "Lexend";
  font-size: 449px;
  line-height: normal;
  color: var(--white-color);
  margin: 0;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 2;
}

h2 {
  font-family: "Lexend";
  font-size: 40px;
  line-height: normal;
  margin: 0;
  font-weight: 900;
}

img {
  width: 100%;
  height: auto;
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--pear-background);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--pear-background);
  font-size: 1.6rem;
  color: var(--text-color);
  letter-spacing: .1rem;
  font-weight: 600;
  transition: .5s ease;
}

a {
  color: var(--pear-background);
  transition: 1.2s ease-out;
}

a:hover {
  color: var(--pear-can);
}

.btn:hover {
  box-shadow: none;
}

header div img {
  width: 200px !important;
}

.animation-float {
  animation: Float infinite 7s;
}

.animation-float-Lower {
  animation: LowerFloat infinite 6s;
}

/*======================================================
                          Menu
  ======================================================*/
#navbar {
  color: var(--text-color);
  position: fixed;
  top: 1rem;
  height: 60px;
  line-height: 60px;
  width: 100vw;
  z-index: 10;
}

.nav-wrapper {
  margin: auto;
  text-align: center;
  width: 70%;
}

.logo {
  float: left;
  margin-left: 28px;
  font-size: 1.5em;
  height: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#navbar ul {
  /* display: inline-block; */
  float: right;
  list-style: none;
  margin-top: -2px;
  text-align: right;
  transition: transform 0.5s ease-out;
  -webkit-transition: transform 0.5s ease-out;
}

#navbar li {
  display: inline-block;
}

#navbar li a {
  color: var(--text-color);
  display: block;
  font-size: 0.9em;
  height: 50px;
  letter-spacing: 1px;
  margin: 0 20px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

#navbar li a:hover {
  color: var(--pear-background);
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

#navbar li a:active {
  color: var(--pear-background);
}

/* Animated Bottom Line */
#navbar li a:before,
#navbar li a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -1px;
  background: var(--pear-background);
}

#navbar li a:before {
  left: 0;
  transition: 0.5s;
}

#navbar li a:after {
  background: var(--pear-background);
  right: 0;
}

#navbar li a:hover:before {
  background: var(--pear-background);
  width: 100%;
  transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

#navbar li a:hover:after {
  background: transparent;
  width: 100%;
}

/*======================================================
                      Mobile Menu Menu Icon
    ======================================================*/
@media(max-width: 640px) {
  .menuIcon {
    cursor: pointer;
    display: block;
    position: fixed;
    right: 40px;
    top: 35px;
    height: 23px;
    width: 27px;
    z-index: 12;
  }

  /* Icon Bars */
  .icon-bars {
    background: var(--pear-can);
    position: absolute;
    left: 1px;
    top: 45%;
    height: 2px;
    width: 20px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .icon-bars::before {
    background: var(--pear-can);
    content: '';
    position: absolute;
    left: 0;
    top: -8px;
    height: 2px;
    width: 20px;
    -webkit-transition: 0.3s width 0.4s;
    transition: 0.3s width 0.4s;
  }

  .icon-bars::after {
    margin-top: 0px;
    background: var(--pear-can);
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    height: 2px;
    width: 20px;
    -webkit-transition: 0.3s width 0.4s;
    transition: 0.3s width 0.4s;
  }

  /* Bars Shadows */
  .icon-bars.overlay {
    background: var(--pear-can);
    background: var(--pear-background);
    width: 20px;
    animation: middleBar 3s infinite 0.5s;
    -webkit-animation: middleBar 3s infinite 0.5s;
  }

  .icon-bars.overlay::before {
    background: var(--pear-can);
    background: var(--pear-background);
    width: 10px;
    animation: topBar 3s infinite 0.2s;
    -webkit-animation: topBar 3s infinite 0s;
  }

  .icon-bars.overlay::after {
    background: var(--pear-can);
    background: var(--pear-background);
    width: 15px;
    animation: bottomBar 3s infinite 1s;
    -webkit-animation: bottomBar 3s infinite 1s;
  }


  /* Toggle Menu Icon */
  .menuIcon.toggle .icon-bars {
    top: 5px;
    transform: translate3d(0, 5px, 0) rotate(135deg);
    transition-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .menuIcon.toggle .icon-bars::before {
    top: 0;
    transition-delay: 0.1s;
    opacity: 0;
  }

  .menuIcon.toggle .icon-bars::after {
    top: 10px;
    transform: translate3d(0, -10px, 0) rotate(-270deg);
    transition-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .menuIcon.toggle .icon-bars.overlay {
    width: 20px;
    opacity: 0;
    -webkit-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
  }
}

/*======================================================
                     Responsive Mobile Menu 
    ======================================================*/
.overlay-menu {
  background: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 15px;
  transform: translateX(-100%);
  width: 100vw;
  height: 100vh;
  -webkit-transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}

.overlay-menu ul,
.overlay-menu li {
  display: block;
  position: relative;
}

.overlay-menu li a {
  color: var(--text-color);
  display: block;
  font-size: 1.8em;
  letter-spacing: 5px;
  padding: 10px 0;
  text-align: right;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.overlay-menu li a:hover,
.overlay-menu li a:active {
  color: var(--pear-background);
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

/*======================================================
                          HOME
  ======================================================*/

a:focus {
  outline: none;
  box-shadow: none;
}

input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

input:focus-visible {
  outline: none;
  border: none;
  box-shadow: none;
}

button:focus,
:focus-visible {
  outline: none;
  border: none;
}

/* Header */
header {
  padding: 22px 28px 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 99;
  text-align: center;
}

/* Cane Image and Wrapper Image */

.cane-image {
  max-width: 500px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-size: 100% auto;
  mask-size: 100% auto;
  overflow: hidden;
  z-index: 1;
}

.cane-image img {
  width: 100%;
}

.fruit-image {
  opacity: 1;
  position: absolute;
}

.donut-one {
  max-width: 282px;
  bottom: 100px;
}

.donut-two {
  max-width: 240px;
  top: 23%;
  left: 25%;
}

.donut-three {
  max-width: 250px;
  top: 23%;
  right: 25%;
}

.donut-four {
  max-width: 350px;
  bottom: 100px;
  right: 0;
}

/* =============== Effet d'ombre a revoir =============== */

/* .fruit-image::after {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, #000 3.66%, rgba(0, 0, 0, 0) 92.35%);
  opacity: 0.43;
  filter: blur(7.5px);
  transform: rotate(-6.941deg);
  right: 0;
  width: 173px;
  height: 30px;
} */

.donut-one::after {
  bottom: -50px;
}

.donut-two::after {
  bottom: -200px;
  height: 22px;
}

.donut-three::after {
  bottom: -280px;
  width: 103px;
}

.donut-four::after {
  bottom: -50px;
}

/*Section  */
.section-container-main {
  width: 100vw;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.section-container {
  width: 300vw;
  display: flex;
  position: relative;
  transition: all ease-in-out 0.5s;
  align-items: center;
}

.section {
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: -1;
  background: linear-gradient(var(--main-color), var(--pear-background));
}

/*======================================================
                          About
  ======================================================*/

section.about {
  padding: 2rem 9% 2rem;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: linear-gradient(var(--pear-background), var(--exotic-background));
  color: var(--text-color);
}

.about-img img {
  width: 30vw;
  /* padding: 10%; */
  border-radius: 20%;
}

.about-content span {
  color: var(--pear-logo);
}


.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

/*======================================================
                          Product
  ======================================================*/

.product {
  padding: 5rem 9% 5rem;
  background: linear-gradient(var(--exotic-background), var(--pear-background));
}

.product span {
  color: var(--pear-logo);
}

.product-container {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	display: grid;
	grid-template-columns: 5% auto 5%;
	grid-template-rows: 140px 80px auto 100px 30px;
	/* mobile viewport bug fix */
	height: -webkit-fill-available;
}

.product-header {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	font-family: "Dancing Script", cursive;
}

.product-title {
	width: 100%;
	height: 100%;
	line-height: 150px;
	font-size: 70px;
	text-align: center;
}

.product-indicators {
	grid-column-start: 2;
	grid-column-end: 2;
	/* grid-row-start: 5; */
	/* grid-row-end: 5; */
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 10px;
}

#i1,
#i2,
#i3,
#i4 {
	grid-column-start: 1;
	grid-column-end: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
#i2 {
	grid-column-start: 2;
	grid-column-end: 2;
}
#i3 {
	grid-column-start: 3;
	grid-column-end: 3;
}
#i4 {
	grid-column-start: 4;
	grid-column-end: 4;
}

.navi-indicator {
	height: 4px;
	width: 60px;
	border-radius: 20px;
	transition: width 0.2s;
}

#ni1{
	background: var(--icolor1);	
}
#ni2{
	background: var(--icolor2);
}
#ni3{
	background: var(--icolor3);
}
#ni4{
	background: var(--icolor4);
}

.navi {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 4;
	grid-row-end: 4;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 100px;
}

.navi-item1,
.navi-item2,
.navi-item3,
.navi-item4 {
	grid-column-start: 1;
	grid-column-end: 2;
	display: flex;
	align-items: center;
	justify-content: center;
}
.navi-item2 {
	grid-column-start: 2;
	grid-column-end: 2;
}
.navi-item3 {
	grid-column-start: 3;
	grid-column-end: 3;
}
.navi-item4 {
	grid-column-start: 4;
	grid-column-end: 4;
}

.product-nav-button {
	height: 70px;
	width: 70px;
	border-radius: 20px;
	font-family: "Rubik", sans-serif;
	font-weight: 700;
	cursor: pointer;
}

#startersbutton .navi-icon {
	color: var(--icolor1);
}
#mainsbutton .navi-icon {
	color: var(--icolor2);
}
#dessertsbutton .navi-icon {
	color: var(--icolor3);
}
#drinksbutton .navi-icon {
	color: var(--icolor4);
}

.navi-icon {
	height: 40px;
	line-height: 50px;
	font-size: 20px;
	text-align: center;
}

.navi-text {
  color: var(--text-color);
	height: 30px;
	line-height: 20px;
	text-align: center;
	font-size: 0.9em;
	font-weight: 300;
}

.product-menu {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 4;
	overflow-y: auto;
}

.product-menu-item {
	grid-column-start: 2;
	grid-column-end: 2;
	height: 110px;
	margin: 15px;
	display: grid;
	grid-template-columns: auto 90px;
	grid-template-rows: 40px 60px;
	font-size: 0.9em;
	border-radius: 20px;
	padding-left: 30px;
	padding-top: 10px;
	background: var(--text-color);
}
.product-menu-item-name {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	font-weight: 700;
	line-height: 50px;
}
.product-menu-item-description {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 2;
}
.product-menu-item-price {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 3;
	font-weight: 700;
	line-height: 100px;
	text-align: center;
}

.drink-item {
	grid-column-start: 2;
	grid-column-end: 2;
	height: 50px;
	margin: 15px;
	display: grid;
	grid-template-columns: auto 30px 90px;
	grid-template-rows: 50px;
	font-size: 0.9em;
	border-radius: 20px;
	padding-left: 30px;
	/* padding-top: 10px; */
	background: var(--text-color);
}
.drink-item-name {
	grid-column-start: 1;
	grid-column-end: 2;
	font-weight: 700;
	line-height: 50px;
}
.drink-item-description {
	grid-column-start: 2;
	grid-column-end: 2;
	line-height: 50px;
}
.drink-item-price {
	grid-column-start: 3;
	grid-column-end: 3;
	font-weight: 700;
	line-height: 50px;
	text-align: center;
}

.product-menu-separator {
	grid-column-start: 2;
	grid-column-end: 2;
	height: 50px;
	margin: 15px;
	margin-top: 35px;
	font-size: 1.2em;
	line-height: 50px;
	font-weight: 700;
	border-radius: 20px;
	padding-left: 30px;
	background: var(--pear-logo);
  color: var(--text-color);
}

/*Desktop Stuff*/
@media only screen and (min-width: 800px) {
	.product-container {
		grid-template-rows: 150px 100px 20px auto 20px;
	}
	.product-indicators {
		grid-row-start: 3;
		grid-row-end: 4;
	}
	.navi-indicator {
		height: 4px;
		width: 100%;
		margin: 15px;
	}
	.navi {
		grid-row-start: 2;
		grid-row-end: 3;
	}
	.navi-item1,
	.navi-item2,
	.navi-item3,
	.navi-item4 {
		display: flex;
	}
	.product-nav-button {
		height: 70px;
		width: 100%;
		margin: 15px;
		display: flex;
		justify-content: center;
		border-radius: var(--radius);
	}
	.navi-icon {
		height: 100%;
		line-height: 70px;
		font-size: 25px;
		text-align: center;
	}
	.navi-text {
		line-height: 70px;
		margin-left: 10px;
		text-align: left;
		font-size: 1.3em;
		font-weight: 700;
	}
	.product-menu {
		grid-row-start: 4;
		grid-row-end: 4;
	}
}

/*prevent defaults*/
.product button,
.product p {
	/* display: inline-block; */
	border: none;
	margin: 0;
	text-decoration: none;
	padding: 0;
	background: none;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	overflow: hidden;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

/*======================================================
                          Contact
  ======================================================*/

/* SOON */
section.contact {
  background: linear-gradient(var(--pear-background), var(--main-color));
  color: var(--text-color);
  padding: 2rem 9% 5rem;
}

.contact h2 span {
  color: var(--pear-logo);
}

.contact-section-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Contact-elements {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.Contact-elements h3 {
  color: var(--pear-logo);
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 900;
}

.Contact-elements p {
  font-size: 1.2rem;
  padding-top: 10px;
}

.Contact-elements iframe {
  border-radius: 5%;
  margin-top: 1rem;
}

.contact-features {
  flex-direction: row;
}

/*======================================================
                          Footer
  ======================================================*/

.footer {
  background: linear-gradient(var(--main-color), var(--exotic-background));
  color: var(--text-color);
}

.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 40px 15px 1rem;
  position: relative;
}

.footer-content-column {
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.footer-content-column ul li a {
  color: var(--text-color);
  text-decoration: none;
}

.footer-logo-link {
  display: inline-block;
}

.footer-menu {
  margin-top: 30px;
}

.footer-menu-name {
  font-size: 15px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.footer-menu-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 0;
}

.footer-menu-list li {
  margin-top: 5px;
}

.footer-call-to-action-button:hover {
  background: var(--pear-logo);
}

.footer-call-to-action-button {
  background: var(--pear-background);
  border-radius: 21px;
  color: var(--text-color);
  display: inline-block;
  font-size: 11px;
  font-weight: 800;
  letter-spacing: .1em;
  line-height: 18px;
  padding: 12px 30px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color .2s;
  cursor: pointer;
  position: relative;
  transition: 1.2s;
}

.footer-call-to-action {
  margin-top: 30px;
}

.footer-call-to-action-title {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.footer-call-to-action-link-wrapper {
  margin-bottom: 0;
  margin-top: 10px;
  color: var(--text-color);
  text-decoration: none;
}

.footer-copyright {
  padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
/*======================================================
                        Audio player
  ======================================================*/

  .player {
    position: fixed;
    bottom: 20px;
    left: 20px;
  }

  .player button {
    background: none;
  }

 
  .button-icons {
    font-size: 25px;
    /* background: var(--main-color); */
    color: var(--text-color);
    border-radius: 100%;
    border: #FFF 3px solid;
    margin-top: auto;
    padding: 15px;
  }


/*======================================================
                          KeyFrames
  ======================================================*/

@keyframes Float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-25px);
  }

  100% {
    transform: translatey(0px);
  }
}

@keyframes LowerFloat {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-10px);
  }

  100% {
    transform: translatey(0px);
  }
}

@keyframes middleBar {
  0% {
    width: 0px
  }

  50% {
    width: 20px
  }

  100% {
    width: 0px
  }
}

@-webkit-keyframes middleBar {
  0% {
    width: 0px
  }

  50% {
    width: 20px
  }

  100% {
    width: 0px
  }
}

@keyframes topBar {
  0% {
    width: 0px
  }

  50% {
    width: 10px
  }

  100% {
    width: 0px
  }
}

@-webkit-keyframes topBar {
  0% {
    width: 0px
  }

  50% {
    width: 10px
  }

  100% {
    width: 0px
  }
}

@keyframes bottomBar {
  0% {
    width: 0px
  }

  50% {
    width: 15px
  }

  100% {
    width: 0px
  }
}

@-webkit-keyframes bottomBar {
  0% {
    width: 0px
  }

  50% {
    width: 15px
  }

  100% {
    width: 0px
  }
}


/*======================================================
                          BreakPoints
  ======================================================*/

@media screen and (max-width: 1550px) {
  h1 {
    font-size: 350px !important;
  }


  .cane-image {
    max-width: 280px;
  }

  .donut-one {
    max-width: 250px;
  }

  .donut-two {
    max-width: 215px;
    left: 22%;
    top: 10%;
  }

  .donut-three {
    max-width: 180px;
  }

  .donut-four {
    max-width: 260px;
    right: 40px;
  }
}

@media screen and (max-width: 1199px) {
  section.about {
    padding: 10rem 3% 2rem;
  }

  h1 {
    font-size: 300px !important;
  }

  .cane-image::after {
    width: 150%;
  }

  .donut-one {
    max-width: 220px;
  }

  .donut-two {
    max-width: 185px;
    left: 18%;
    top: 10%;
  }

  .donut-three {
    max-width: 180px;
    right: 18%;
  }

  .donut-four {
    max-width: 230px;
  }
}

@media screen and (max-width: 991px) {
  section.about {
    padding: 1rem 3% 2rem;
  }

  h1 {
    font-size: 240px !important;
  }

  .cane-image {
    max-width: 250px;
  }

  button {
    height: 80px;
    width: 80px;
    top: 90%;
  }

  .donut-one {
    max-width: 180px;
  }

  .donut-two {
    max-width: 165px;
    left: 12%;
    top: 12%;
  }

  .donut-three {
    max-width: 150px;
    right: 12%;
  }

  .donut-four {
    max-width: 200px;
  }
}

@media screen and (max-width: 767px) {
  html {
    overflow-x: hidden;
  }
  h1 {
    font-size: 180px !important;
  }

  h2 {
    font-size: 30px;
  }

  .heading {
    text-align: center;
    font-size: 70px;
  }

  .about-content {
    text-align: center;
  }

  .contact {
    text-align: center;
  }

  .cane-image {
    max-width: 180px;
  }

  button {
    height: 60px;
    width: 60px;
    font-size: 20px;
  }

  .donut-one {
    max-width: 180px;
    bottom: 150px;
  }

  .donut-two {
    max-width: 145px;
    left: 12%;
    top: 15%;
  }

  .donut-three {
    max-width: 130px;
    right: 10%;
  }

  .donut-four {
    max-width: 180px;
    bottom: 150px;
  }

  .about {
    flex-direction: column-reverse;
  }

  .about img {
    width: 70vw;
  }

  .nav-wrapper {
    width: 90%;
  }

  .product button,
  .product p {
	  display: inline-block;
  }
}

@media screen and (max-width: 575px) {
  h1 {
    font-size: 100px !important;
  }

  .heading {
    text-align: center;
    font-size: 60px;
  }

  .about-content {
    text-align: center;
  }

  .contact {
    text-align: center;
  }

  .cane-image::after {
    width: 100%;
  }

  .donut-one {
    max-width: 150px;
  }

  .donut-two {
    max-width: 115px;
    left: 4%;
    top: 18%;
  }

  .donut-three {
    max-width: 100px;
    right: 4%;
  }

  .donut-four {
    max-width: 150px;
    right: 0;
  }

  .player {
    position: fixed;
    bottom: 35px;
    left: 20px;
  }

  .player button {
    background: none;
  }

 
  .button-icons {
    font-size: 20px;
    /* background: var(--main-color); */
    color: var(--text-color);
    border-radius: 100%;
    border: #FFF 2px solid;
    margin-top: auto;
    padding: 10px;
  }
}

@media screen and (max-width: 375px) {
  .about-img img {
    width: 90vw;
  }

  .heading {
    text-align: center;
    font-size: 50px;
  }

  .about-content {
    text-align: center;
  }

  .contact {
    text-align: center;
  }

  h1 {
    font-size: 80px !important;
  }

  .cane-image::after {
    width: 100%;
  }

  .donut-one {
    max-width: 150px;
  }

  .donut-two {
    max-width: 115px;
    left: 4%;
    top: 18%;
  }

  .donut-three {
    max-width: 100px;
    right: 4%;
  }

  .donut-four {
    max-width: 150px;
    right: 0;
  }
}

/* min */

@media (min-width: 767px) {

  .about-content h2,
  .about-content h3 {
    text-align: left;
    line-height: 1.2;
  }
}

/* A REVOIR */

/* Media Query For different screens */
@media (min-width:320px) and (max-width:479px) {

  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 550px;
    position: relative;
  }
}

@media (min-width:480px) and (max-width:599px) {

  /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 650px;
    position: relative;
  }
}

@media (min-width:600px) and (max-width: 800px) {

  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 650px;
    position: relative;
  }
}

@media (min-width: 760px) {
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 230px;
    position: relative;
  }

  .footer-content-column {
    width: 24.99%;
  }
}

/* @media(max-width: 768px) {
  .nav-wrapper {
    width: 90%;
  }
} */

@media(max-width: 638px) {
  .nav-wrapper {
    width: 100%;
  }
}

/*  a trier */

@media(max-width: 640px) {
  #navbar ul {
    display: none;
  }
}

@media(orientation: landscape) {
  #navbar ul {
    display: inline-block;
  }
}